body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  .css-1ygcj2i-MuiTableCell-root{
    color: white;
  }
  